@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
    font-family: 'Martin';
    src: url('https://dinatar.vercel.app/MARTIN.ttf') format('truetype');
}


:root {
  --bg-select-dinatar: #fff;
  --color-select-dinatar: #3d3d3d;
}

.dinatar-container-filters {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  gap: 2%;
}

.filter-container {
  width: 198px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#select-dinatar {
  /* Reset #select-dinatar */
  appearance: none;
  outline: 10px red;
  border: 1px solid #44a5db;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: var(--color-select-dinatar);
  background-color: var(--bg-select-dinatar);
  background-image: none;
  cursor: pointer;
  font-size: 15px;
}

#select-dinatar option:checked {
  background-color: #44a5db;
}

#select-dinatar option {
  font-size: 15px;
}
/* Remove IE arrow */
#select-dinatar::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select-container-dinatar {
  position: relative;
  display: flex;
  /* width: 200px; */
  height: 3em;
  border: 1px solid #44a5db;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select-container-dinatar::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: var(--bg-select-dinatar);
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select-container-dinatar:hover::after {
  color: #44a5db;
}

.select-dinatar-title {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 10px;
}

#dinatar-container-profiles {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  gap: 2%;
  margin-top: 2rem;
}

.dinatar-profile {
  width: 198px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  margin-bottom: 20px;
}

.dinatar-profile .profile-image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dinatar-profile .profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.dinatar-profile .profile-name {
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  padding: 10px 16px;
}

.dinatar-profile .profile-action{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Martin';
  font-weight: 500;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: #FFF;
  font-size: 28px;
  line-height: 1;
  background-color: rgb(250, 0, 185);
  width: 167px;
}